{
  "name": "Beyaz OSGB",
  "root": ".",
  "output": "dist",
  "tasks": [
    {
      "type": "sass",
      "input": "assets/css/main.scss",
      "output": "assets/css/main.css",
      "options": {
        "outputStyle": "compressed"
      }
    },
    {
      "type": "autoprefixer",
      "input": "assets/css/main.css",
      "output": "assets/css/main.css",
      "options": {
        "browsers": ["last 2 versions", "ie 10"]
      }
    },
    {
      "type": "babel",
      "input": "assets/js/scripts.js",
      "output": "assets/js/scripts.min.js",
      "options": {
        "presets": ["@babel/preset-env"]
      }
    },
    {
      "type": "eslint",
      "input": "assets/js/scripts.js",
      "output": "assets/js/scripts.js",
      "options": {
        "configFile": ".eslintrc.json"
      }
    },
    {
      "type": "imagemin",
      "input": "assets/images",
      "output": "assets/images",
      "options": {
        "optimizationLevel": 5
      }
    },
    {
      "type": "htmlmin",
      "input": "index.html",
      "output": "dist/index.html",
      "options": {
        "collapseWhitespace": true,
        "removeComments": true
      }
    },
    {
      "type": "htmlmin",
      "input": "pages/**/*.html",
      "output": "dist/pages",
      "options": {
        "collapseWhitespace": true,
        "removeComments": true
      }
    }
  ],
  "watch": [
    "assets/css/**/*.scss",
    "assets/js/**/*.js",
    "assets/images/**/*.{png,jpg,jpeg,gif,svg}",
    "index.html",
    "pages/**/*.html"
  ]
}
